*{
    background-color: rgb(205, 208, 228);
}
.alert{
    margin-top: 30px;
    height: 50px;
    width: 480px;
    margin-left: 150px;
}
.col-lg-8{
    text-align: center;
}
.sub{
    width: 120px;
    border: rgb(44, 63, 87) 2px solid;
    border-radius: 8%;
}
.card-header{
    background-color: #2F4858;
    color: white;
}
.card-body{
    background-color: #E5F2C9;
}
.patio{
    background-color: #E5F2C9;
    font-weight: bold;
}
.login{
  margin-top: 60px;
  margin-left: 5px;
}

.fechar{
    float:right;
}
a{
    cursor: pointer;
    color: #2F4858;
    font-weight: bold;
}
.atualizarPg{
    float: right;
    margin-right: 15px;
}
a:hover{
    text-decoration: overline;
}
.btn{
    color: white;
    background-color: rgb(82, 107, 122);
}
input{
    background-color: white;
    
}

#vagasOcu, #vagasRes, #totalVagas{
        background-color: #E5F2C9;
    

}


